<!DOCTYPE html>
<html ng-app="">
<head>
    <title>AngularJS Tutorials</title>
    <link rel="stylesheet" href="../vendor/foundation.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>




<div ng-controller='HeaderController'>
    <H1>ng-class</H1>
    <div ng-class='{error: isError, warning: isWarning}'>{{messageText}}</div>
    <button ng-click='showError()'>Simulate Error</button>
    <button ng-click='showWarning()'>Simulate Warning</button>

    <br><br>
    <H1>ng-style</H1>

    <input type="button" value="setStyle" ng-click="myStyle={color:'red'}">
    <input type="button" value="clearStyle" ng-click="myStyle={}">
    <br/>
    <span ng-style="myStyle">Sample Text</span>
    <pre>myStyle={{myStyle}}</pre>
</div>


<script type="text/javascript" src="controllers.js"></script>
<script type="text/javascript" src="../vendor/angular.js"></script>
</body>
</html>

