/*------------------------------BROWSER RESET---------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* ------------------------------- COLOR GUIDE ----------------------------*/
/*
Gold --  Dark: #7b5915  Light: #a0741b
Rust Red -- #662d20
White -- #efefef
Black -- #141414
*/
/* ------------------------------- MAIN STYLES ----------------------------*/

* {
  padding: 0;
  margin: 0;
}
body {
  color: #efefef;
  background-color: #141414;
  font-family: Effra, Calibri, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
}
.landing {
  padding: 60px;
  background: url(../images/RedAbbey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30em;
  border-bottom: 10px solid #662d20;
  box-shadow: 1px 10px 10px #0f0f0f;
}
.secondaryContent {
  padding: 60px;
  margin: 0 auto;
  max-width: 700px;
}
h1 {
  font-size: 2.56em;
}
h2 {
  font-size: 1.6em;
}
p {
  font-size: 1.4em;
  margin-bottom: 1.4em;
  margin-top: 10px;
  max-width: 700px;
  line-height: 1.5em;
}
figure {
  margin: 30px 0;
}
.center {
  position: relative;
  height: 100px;
  max-width: 400px;
  margin: 0 auto;
}
.center h1 {
  height: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  width: 100%;
}
.center h2 {
  text-align: center;
}
@media (max-width: 483px) {
  .center h1 {
    margin-left: -150px;
    min-width: 350px;
  }
  .center h2 {
    margin-top: 0.5em;
    font-size: 1.2em;
  }
}
/* ------------------------------- MAIN NAV STYLES ----------------------------*/

.mainNav li {
  margin: 0 0 35px 0;
  max-width: 700px;
}
.mainNav a {
  color: #807c7c;
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.6em;
  text-transform: uppercase;
}
.mainNav a:hover {
  color: #dddbd8;
  transition: 1s color, 1s letter-spacing;
  letter-spacing: .2em;
}
.mainNav span.additional {
  opacity: 0;
  font-style: italic;
  border-left: 1px solid;
  padding-left: 6px;
  color: #f06445;
  text-shadow: 1px 1px black;
}
.mainNav a:hover + span.additional {
  opacity: 1;
  transition: 2s opacity;
}
