/*------------------------------BROWSER RESET---------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
/* ------------------------------- COLOR GUIDE ----------------------------*/

/*
Gold --  Dark: #7b5915  Light: #a0741b
Rust Red -- #662d20
Coral - #f06445
White -- #efefef
Black -- #141414
*/

/* ------------------------------- MAIN STYLES ----------------------------*/

* {
  padding: 0;
  margin: 0;
}
body {
  min-width: 450px;
  color: #efefef;
  background-color: #141414;
  font-family: Effra, Raleway, Calibri, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.landing {
  padding: 60px;
  background: url(../images/RedAbbey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30em;
  border-bottom: 10px solid #662d20;
  box-shadow: 1px 10px 10px #0f0f0f;
}
.secondaryContent {
  padding: 60px;
  margin: 0 auto;
  max-width: 700px;
}
h1 {
  font-size: 2.56em;
}
h2 {
  font-size: 1.4em;
  line-height: 1.6em;
  margin: 0.42em 0;
  font-weight: 500;
  text-transform: uppercase;
}
p,
ul,
ol {
  font-size: 1.4em;
  margin-bottom: 1.4em;
  max-width: 700px;
  line-height: 1.5em;
}
a {
  color: #f06445;
  text-decoration: none;
}
a:visited {
  color: #9b402b;
  font-weight: 500;
}
a:hover {
  color: #ff856a;
  text-decoration: underline;
}
a:active {
  color: #b53417;
}
figure {
  margin: 30px 0;
}
.center {
  max-width: 400px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  clear: both;
}
.center h1 {
  height: 100px;
  position: relative;
  top: 50%;
  text-align: center;
}
.center h2 {
  font-size: 1.33em;
  font-weight: 300;
  text-align: center;
  position: relative;
  top: 50px;
  text-transform: capitalize;
}
@media (max-width: 780px) {
  .landing {
    min-height: 20em;
  }
  .center h1 {
    min-width: 350px;
    top: 30%;
  }
  .center h2 {
    margin-top: 0.5em;
    font-size: 1.2em;
    top: 0;
  }
}
/* ------------------------------- MAIN NAV STYLES ----------------------------*/

.mainNav {
  margin: 0 auto;
  max-width: 550px;
  height: 50px;
}
.mainNav ul {
  margin: 0;
}
.mainNav li {
  float: left;
  max-width: 150px;
  margin-right: 16px;
  text-align: center;
}
.mainNav li:nth-of-type(2) {
  margin-right: 26px;
}
.mainNav a {
  color: #807c7c;
  text-decoration: none;
  padding: 0 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
}
.mainNav a:hover {
  color: #dddbd8;
  transition: 1s color, 1s letter-spacing;
  letter-spacing: 0.2em;
}
.mainNav span.additional {
  opacity: 0;
  font-style: italic;
  font-size: 0.8em;
  line-height: 1.2em;
  display: block;
  min-width: 180px;
  position: relative;
  text-shadow: 1px 1px #000;
  color: #f06445;
  background-color: rgba(0, 0, 0, .3);
}
.mainNav a:hover + span.additional {
  opacity: 1;
  transition: 1s opacity;
}
@media (max-width: 703px) {
  .mainNav li {
    float: none;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    min-width: 100%;
  }
  .mainNav {
    width: 100%;
    height: auto;
    margin-top: -50px;
  }
  .mainNav span.additional {
    display: none;
  }
}
