body {
    background-color: #1f1f1f;
    height: 2000px;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;   
}

em {
    color: #dd740b;   
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

/*box goes off the container*/
.blueBox {
    
    background: #627da0;
/*    default value: static
      Elements render in order, as they appear in the document flow
    */
    position: absolute;    
   /* The element is positioned relative to its first positioned (not static) ancestor element - in this case container */
    top: 50px;
    left: 50px;
}

.greenBox {
    background: #5b8054;  
}

.container {
    background: rgba(0,0,0,.4);
    height: 200px;
    width: 200px;
/*    move container */
    margin-top: 150px;
    margin-left: 200px;
    position: absolute
        
}