<!-- [disabled]property binding [disabled] (put TS code after =) bind to DOM properties not html attributes
read https://angular.io/guide/template-syntax#html-attribute-vs-dom-property-->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateNewServer()">Add server</button> <br>



Allow adding new server (property binding) <p [innerText]="allowNewServer"></p>
vs<br>
Allow adding new server (string interpolation) <p>{{allowNewServer}}</p>



<h3>One way binding </h3>
<!-- (event) event handling-->
<!-- this oneWay input is an example of Output Event binding
(lets catch event and handle it)-->
Server name: <input class="form-control" (input)="onServerNameInput($event)"/>
{{serverName}} <br><br>

<h3>Two way binding </h3>
<!--when you write in this input "oneWay" does not get updated-->
Server name: <input class="form-control" [(ngModel)]="serverName"/>
{{serverName}} <br><br>

<!--
* -> indicates structural directive (https://angular.io/guide/structural-directives)
-->
<!--<p *ngIf="serverAdded"> Server added!</p>-->

<p *ngIf="serverAdded; else noServer"> Server added!</p>
<ng-template #noServer> <p>No server added!</p></ng-template>



Servers:<br>

<app-server *ngFor="let s of servers"></app-server><br>
