body {
    background-color: #1f1f1f;
    height: 1000px;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;   
}

em {
    color: #dd740b;   
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
/*z-index defaults to 1 here we move blue box from green one to foreground */
.blueBox {
    background: #627da0; 
    position: relative;
    z-index: 2;
}

.greenBox {
    background: #5b8054;  
    position: relative;
    bottom: 150px;
}

.container {
    background: rgba(0,0,0,5);
    width: 200px;
    height: 200px;
    position: relative;
}