<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectname">Project name</label>
          <input
            type="text"
            id="projectname"
            formControlName="projectname"
            class="form-control">
          <span
            *ngIf="projectForm.get('projectname').pending">
              Validating...
            </span>
          <span
            *ngIf="!projectForm.get('projectname').pending && !projectForm.get('projectname').valid && projectForm.get('projectname').touched"
            class="help-block">
              <span *ngIf="projectForm.get('projectname').errors['required']">This field is required!</span>
              <span *ngIf="projectForm.get('projectname').errors['nameIsForbidden']">This name is invalid!</span>
            </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
          <span
            *ngIf="!projectForm.get('email').valid && projectForm.get('email').touched"
            class="help-block">Please enter a valid email!</span>
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <select id="status" class="form-control" formControlName="status">
            <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
          </select>
        </div>

        <span
          *ngIf="!projectForm.valid && projectForm.touched && !projectForm.pending"
          class="help-block">Please enter valid data!</span>
        <button [disabled]="projectForm.invalid || projectForm.pending" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
