<!DOCTYPE html>
<html ng-app="">
<head>
    <title>AngularJS Tutorials</title>
    <link rel="stylesheet" href="../vendor/foundation.min.css">
</head>
<body>


<H1>$scope.$watch() CART (BETTER PERFORMANCE)</H1>

<div ng-controller="CartControllerBetterPerformance">
    <div ng-repeat="item in items">
        <span>{{item.title}}</span>
        <input ng-model="item.quantity">
        <span>{{item.price | currency}}</span>
        <span>{{item.price * item.quantity | currency}}</span>
    </div>
    <div>Total: {{bill.total | currency}}</div>
    <div>Discount: {{bill.discount | currency}}</div>
    <div>Subtotal: {{bill.subtotal | currency}}</div>
</div>


<script type="text/javascript" src="controllers.js"></script>
<script type="text/javascript" src="../vendor/angular.js"></script>
</body>
</html>